#tfhead h3 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    border-top: 2px solid var(--dark);
  }


#chars  {
    font-size: 14px;
    text-align: baseline !important;
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



#former {
    margin: 1%;
    

}

#bullseye {
    height: 25px;
}
