#tfhead h3 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
  }


#chars  {
    font-size: 14px;
    text-align: baseline !important;
}

#t-b {
    background-color: rgb(60, 54, 92);
    color: aliceblue;
    border-radius: 3px;
    
}

#former {
    margin: 1%
}